# Python
__pycache__/
.python-version
*.py[cod]
*$py.class

# Environments
.venv/
venv/
.env

# Packaging
build/
dist/
*.egg-info/

# Coverage
.coverage*
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Others
*.log
